<!DOCTYPE html>
<html>
     <head>
          <title>Web user interface for study 3 -- path planning recommendation</title>
     </head>
     <body>
          <h1>Web user interface for study 3 -- Path Planning Recommendation</h1>
          <p>The project is for facilitating stage of path planning stage in search and rescue missions.</p>
          <p>Unmanned aerial vehicles are used to detect lost person and clues.</p>

          <p>Demo page: <a href="pathsar_3d">link text</a> <p>
          <p>Testing page: <a href="test">link</a> <p>
     </body>
</html>
